/************ Footer Css ************/
.footer {
    padding: 0 0 50px 0;
  background-color: #201e1d;  
  background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer h2{
   
   font-size: 0.1px;
    color: #201e1d ;
  }
  .footer .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .footer img {
    width: 26%;
    padding-inline: 15px;
  }
  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
  